---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Page not found">
  <div class="section">
    <div class="container">
      <h1>Not found</h1>
      <p>The page you tried to visit couldn’t be found.</p>
      <p><a href="/">Home</a></p>
    </div>
  </div>
</Layout>
