---
import Layout from "../layouts/Layout.astro"
---

<Layout title="About the site">
  <h1>About the site</h1>
  <p>
    This site contains some of my favourite photos that I’ve taken with the
    Canon mirrorless and DSLR cameras I’ve had over the years.
  </p>
  <p>
    The AVIF image format is used on the site, with a WebP fallback for some
    older browsers.
  </p>
  <p>All photos are © Reupen Shah.</p>
  <p>
    The site was built using{" "}
    <a href="https://astro.build">Astro</a> and is{" "}
    <a href="https://github.com/reupen/photos.yuo.be">open source</a>.
  </p>

  <p><a href="/">Home</a></p>
</Layout>
