---
export interface Props {
  class?: string
  nextHref?: string
  previousHref?: string
  entryName: string
}

const { class: class_, nextHref, previousHref, entryName } = Astro.props
---

<style>
  .pagination {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;

    .next {
      justify-self: right;
    }

    a {
      text-underline-offset: 0.25em;

      &:not(:hover) {
        text-decoration-line: none;
      }
    }
  }
</style>

<div class:list={["pagination", class_]}>
  <div class="previous">
    {
      previousHref && (
        <a href={previousHref}>
          <i class="fa-solid fa-chevron-left" />
          <span>
            Previous<span class="visually-hidden"> {entryName}</span>
          </span>
        </a>
      )
    }
  </div>
  <div class="next">
    {
      nextHref && (
        <a href={nextHref}>
          <span>
            Next<span class="visually-hidden"> {entryName}</span>
          </span>
          <i class="fa-solid fa-chevron-right" />
        </a>
      )
    }
  </div>
</div>
